.name {
    font-family: impact; color:rgb(244, 224, 13);
    background: -webkit-linear-gradient(45deg,#cf3195, #08011c 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
